.show-container {
  margin-bottom: 60px;
}
.rating-btns_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .rating-btn {
    border: 1px solid;
    padding: 16px;
    &.rating-btn_like {
      color: #008a00;
      background-color: #008a00;
      margin-right: 8px;
      svg {
        fill: #fff;
        height: 24px;
      }
    }
    &.rating-btn_dislike {
      color: #e9e7e7;
      background-color: #e9e7e7;
      svg {
        fill: #e50914;
        height: 24px;
      }
    }
    &.Mui-focusVisible {
      box-shadow: 0px 0px 0 2px rgba(#00ffff, 0.1);
    }
  }
}

.filter-group {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .pipe-spacer {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 8px;
  }

  .radio-video {
    &.MuiFormControlLabel-root {
      margin: 0;
    }

    .MuiButtonBase-root {
      padding: 5px;
    }
    .MuiRadio-colorSecondary.Mui-checked {
      color: #e50914;
    }
  }
  .MuiInput-underline {
    margin-left: 10px;
    .MuiSelect-root {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .filter-group {
    margin-top: 12px;
    flex-wrap: wrap;
    .MuiFormGroup-row,
    .MuiInput-underline {
      margin-bottom: 8px;
    }
    .pipe-spacer {
      display: none;
    }
  }

  .show-container {
    .show-container_show {
      flex-wrap: wrap;
      .show-title {
        text-align: center;
        font-size: 28px;
      }
      .inner-container {
        flex-wrap: wrap;
        min-width: inherit;
        width: 90vw;
        text-align: center;
        background-color: transparent;
        margin-top: 0;
        padding-top: 5px;
        .image-section {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .show-info {
          display: none;
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    .show-modal-btn {
      font-size: 20px;
      border: 1px solid #4a94d5;
      border-radius: 5px;
      background-color: #4a94d5;
      color: #fff;
      padding: 5px 8px;
    }
  }

  .modal-rating-mobile {
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background-color: #d9e3ec;
    overflow: auto;
    outline: none;
    padding: 0 20px 20px 20px;
    top: 110px;
    width: 95vw;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    .modal-header {
      padding: 0;
      .close-btn {
        margin-left: auto;
        margin-top: 10px;
      }
    }
    .modal-body {
      padding: 0;
      .inner-container {
        width: unset;
        padding: 0;
        margin: 0;
        &.mobile-modal {
          .show-info {
            .show-p-section {
              font-size: 16px;
              .show-title {
                display: block;
                font-size: 26px;
                margin-bottom: 10px;
              }
              .show-vtype {
                text-transform: capitalize;
              }
              .span-pipes {
                padding-left: 8px;
                padding-right: 8px;
              }
              .show-link {
                .link {
                  position: relative;
                  transition: clip-path 275ms ease;
                  text-decoration: none;
                  color: #008b8b;
                  margin-right: 15px;
                  &:hover span::before,
                  &:focus span::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                  }
                  span {
                    position: relative;
                    display: inline-block;
                    color: #008b8b;
                    &::before {
                      position: absolute;
                      content: attr(data-content);
                      color: #008b8b;
                      text-decoration: underline;
                      text-decoration-color: #008b8b;
                      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
                      transition: clip-path 275ms ease;
                    }
                  }
                  svg {
                    height: 20px;
                    padding-left: 5px;
                  }
                }
              }

              .show-release_label {
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
